<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Bán Hàng Trực Tuyến</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Trang Chủ</a>
                </li>
                {%for c in catelogies %}
                <li class="nav-item">
                    <a class="nav-link" href="#">{{c.name}}</a>
                </li>
                {%endfor%}

                <li class="nav-item">
                    <a class="nav-link text-danger" href="/cart">&#128722;Giỏ hàng<span class="badge bg-danger cart-counter">{{ cart.total_quantity }}</span></a>
                </li>

            </ul>

            <form class="d-flex" method="get" action="/">
                <input class="form-control me-2" type="text" placeholder="Nhập từ khóa" name=kw>
                <button class="btn btn-primary" type="submit">Tìm kiếm</button>
            </form>
        </div>
    </div>
</nav>